body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.orange_highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 75%;
}
.back_image01{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg,tomato,orange);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.back_image02{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.box_design{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    background-color: white;
}
.back_image03{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#border01{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#border02{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,tomato,orange);
    border-image-slice: 1;
}
footer p{
    font-size: 20px;
    text-align: center;
    color: gray;
    padding-bottom: 5%;
}
